#main-menu #extension-example-extension-menu-item {
  background-image: url('../images/menu-icon.svg');
}

#extension-example-extension-view {
  height: calc(100% - 7.6rem);
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  top: 7.6rem;
}

#extension-example-extension-content {
  position: relative;
  top: calc(50% - 7.6rem);;
  transform: translateY(-50%);
  max-height: 100%;
  text-align: left;
  font-size: 1.6rem;
  color: #fff;
  max-width: 60rem;
  margin: 0 auto;
}

#extension-example-extension-form-submit {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem 0;
}
